doctype html
html
	head
		meta(charset='utf-8')
		title Audio Control
		script(src='js/popup.js')
		link(rel='stylesheet', href='css/popup.css')
	body
		div.header
			span.logo.i18n#extName
		div.tabs

		div.footer
			div.button.animate.i18n#unmute-all
			div.button.animate.i18n#mute-all
			div.button.animate.i18n#mute-other
