html,
body
	padding 0
	margin 0
	background-color #EDEDED
	color #333

.animate
	transition all 0.1s ease-in-out

body
	font-family "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Segoe UI", Meiryo, sans-serif

/* Font License Info
 * ## Elusive
 *
 * Copyright (C) 2013 by Aristeides Stathopoulos
 *
 * Author:    Aristeides Stathopoulos
 * License:   SIL (http://scripts.sil.org/OFL)
 * Homepage:  http://aristeides.com/
 */
@font-face
	font-family "fontello"
	src url("chrome-extension://__MSG_@@extension_id__/vendor/font/fontello.woff")

.fontello
	font-family "fontello"
	font-weight normal
