.footer
	.button
		width 119px
		height 40px
		line-height 40px
		display inline-block
		vertical-align top
		cursor pointer
		border-top 1px solid #007ab7
		border-right 1px solid #007ab7
		text-align center

		&:last-child
			border-right 1px solid transparent

		&:hover
			background-color #007ab7
			color white
			font-weight bold
